@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700&display=swap');



/* REGOLE GENERALI */

*{
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p{
  line-height: 2rem;
  font-weight: 200;
}
a{
  color: black;
  text-decoration: none;
}
h1,h2,h3,h4,{
  font-weight: 600;
}

.left {
  float:left;
}
.right{
  float:right;
}

.padding{
  max-width: 1400px;
  margin:auto;
}
.padding-2{
  max-width: 1200px;
  margin:auto;
}

.half{
  width: 50%;
}

.img-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

i{
  margin-right: 5px;
  margin-left: 10px;
  color: #ff7b59;
}


.btn-big , .btn-nav-white , .btn-nav-orange , .btn-orange{
  border-radius: 4px;
}

.pd-left{
    padding-left: 50px;
}
.pd-right{
    padding-right: 50px;
}


/* REGOLE HEADER */

header{
  width: 100%;
  color: white;
  height: 80vh;
  position: relative;
  margin-top: 80px;
}
header nav::after{
  display: grid;
  content: '';
  clear: both;
}

header nav{
  width: 100%;
}

.menu{
  text-transform: capitalize;
}


nav * {
  text-decoration: none;
  text-align: center;
  padding: 1rem ;
}

.sfondo-header{
  background-image: url('img/1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

/* REGOLE menu scrollabile */

.bk-w{
  background: white;
  padding: 1rem;
}

.links{
  font-weight: 700;
  font-size: 16px;
  margin-top: 10px;
}

/* REGOLE menu fisso */
.bk-fix{
  position: fixed;
  background: rgb(221, 221, 221);
  padding: 1rem;
  width: 100%;
  top: 0;
  z-index: 4;
  height: 80px;
}

.btn-nav-white{
  background: white;
  padding: 10px 15px;
  margin: auto;
  text-align: center;
  color: #ff7b59;
  margin-right: 10px;
  border:solid 1px #ff7b59;
}


.btn-nav-orange{
  background: #ff7b59;
  padding: 10px 15px;
  margin: auto;
  text-align: center;
  color: white;
}

.lingua{
  border-right: solid 2px rgb(159, 159, 159);
}




/* REGOLE testo su immagine header */

header .text-header > h1{
font-size: 4rem;
margin-bottom: 30px;
}

header .text-header > p{
margin-bottom: 60px;
}

.img-text-header::after{
  content: '';
  display: table;
  clear: both;
}


.img-text-header{
  padding-top: 80px;

}


.text-header{
  position: relative;
}

.btn-big{
  position: absolute;
  display: block;
  background-color: white;
  color: black;
  text-decoration: none;
  height: 70px;
  width: 250px;
  text-align: center;
}

.btn-big a{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  text-decoration: none;
  text-transform:  capitalize;
  white-space: nowrap;
}





div .img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-top: 5rem;
    margin-bottom: 50px;
}




.bk-gray{
  background: rgb(244, 244, 244);
  padding-bottom: 5rem;
}
.bk-gray .title{
  text-align: center;
}
.bk-gray .title h2 , p{
  margin-bottom: 30px
}



.title h2{
  font-size: 2rem;
  font-weight: 600;
}



/* una riga orizzontale  */
.oriz{
  width: 100%;
  height: 40%;
  padding: 2rem;
  background: white;
  margin-top: 60px;
  box-shadow: none;
  transition: 0.2s;
}

.oriz::after{
  display: table;
  content: '';
  clear: both;
}

.oriz .left img{
  display: block;
  width: 230px;
  margin: auto;
}

 .btn-orange{
  display: block;
  background: #ff7b59;
  padding: 15px;
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 30px;
  color: white;
}

.oriz  h4 , h3{
  margin-bottom: 20px;
}

.oriz ul li{
  display: inline;
}



.vert > hr{
  border-top: 1px solid #e0e6ed;
}





/* 3 colonne verticali  */
.tre-vert{
  margin-top: 40px;
}
.tre-vert::after{
  display: table;
  content: '';
  clear: both;
}
.vert{
  width: 31%;
  padding: 1rem;
  text-align: center;
  background: white;
  padding: 2rem;
  box-shadow: none;
  transition: 0.2s;
  margin: 1%;
}

.vert:hover , .oriz:hover{
box-shadow: 2px 2px 20px rgb(187, 187, 187);
transform: translateY(-10px);
}



.vert  img{
  display: block;
  width: 230px;
  margin: auto;
  margin-bottom: 40px;
}

.vert h4 , ul{
  margin-top: 30px;
}

.vert ul {
  list-style: none;
  text-align: left;
  line-height: 1.7rem;
}


/* sezione supporto azzurra */
.azzurro{
  background-color: #00abb5;
  text-align: center;
  padding-top: 50px;
  color:white
}

.azzurro .padding-2 > h3{
  font-size: 2em;
  line-height: 2.5rem;
  margin-bottom: 40px;
}

.azzurro table{
  width: 100%;
  margin: auto;
  margin-top: 90px;
  padding-bottom: 60px;
}

.azzurro table td img , h3{
  margin-bottom: 20px;
}

.azzurro td {
  border-left: 1px solid #ddd;
  padding: 15px;
}

.azzurro tr:first-child td {
  border-bottom: 1px solid #ddd;
}


.azzurro td:first-child {
  border-left: none;
}


/* sezione clienti grigia */
.clients .padding-2::after{
  display: grid;
  content: '';
  clear: both;
}

.un-terzo{
  width: 30%
}

.clients{
  padding-top: 3rem;
  margin-bottom: 60px;
}

.numerone{
  font-size: 4rem;
  font-weight: 600;
}

.clients table td{
  padding: 10px;
}

.clients table td img{
  padding: 20px;
  width: 120px;
  opacity: .7
}






.people .padding-2::after{
  display: grid;
  content: '';
  clear: both;
}
.people .text-header > h1{
font-size: 4rem;
margin-bottom: 30px;
}

.people  .text-header > p{
margin-bottom: 30px;
}

.people .btn-orange{
  float: left;
}

.people .btn-orange a{
color: white
}



footer{
  background:#32475b;
  color: white;
  padding-top: 4rem;
  margin-top: 70px;
  padding-bottom: 4rem
}

footer .colonne{
  margin:auto;
  position: relative;
}

footer .colonna{
  display: inline-block;
  width: calc(100% / 4.3);
  height: 30vh;
  display: inline-block;
  vertical-align: top;
}

footer ul {
  list-style: none;
}


footer ul li a{
  color: white;
  line-height: 2rem

}

footer .lingue{
  width: 50%;
 margin: 0 auto;
}

footer .lingue a{
  color: white;
  width: cacl(100% / 6);
  padding-left:30px;
  display: inline-block;
}

.copyright a{
  color: white;
  padding-left: 20px;
}
